NoAnotNtFa:/data2/qli/taxVenMd/nonStop/output_15mer/traditionAssemb/discovery/run/22sp.tri.no_anot.fa
NoAnotPepFa:/data2/qli/taxVenMd/nonStop/output_15mer/traditionAssemb/discovery/run/22sp.tri.no_anot.pep.fa
conoSeq:/data2/qli/taxVenMd/nonStop/output_15mer/traditionAssemb/discovery/run/comprehen22spConotoxinPep.fa
NoconoSeq:/data2/qli/taxVenMd/nonStop/output_15mer/traditionAssemb/discovery/run/22spnoConotoxinPep.fa
tpmCutoff:100
probCutoff:0.6
evalCutoff:1e-10
DvalCutoff:0.6
lengthCutoff:200
molluscaNtDb:/data2/qli/discoverPipeline/mn
outputName:test
