NoAnotNtFa:/data2/qli/discoverPipeline/crossVal/featureSelection/run/pipelineRun/v7/prep/10s13s.complete.noAnot.nt.fa
NoAnotPepFa:/data2/qli/discoverPipeline/crossVal/featureSelection/run/pipelineRun/v7/prep/10s13s.complete.noAnot.pep.fa
conoSeq:/data2/qli/discoverPipeline/crossVal/featureSelection/run/pipelineBenchmark/tdiscovV7/comprehenCono.50to200len.noPut.fa
NoconoSeq:/data2/qli/discoverPipeline/crossVal/featureSelection/run/notTox.50to200Len.fa
tpmCutoff:0.1
evalCutoff:1e-10
DvalCutoff:0.45
lengthCutoff:200
molluscaNtDb:/data2/qli/discoverPipeline/mn
outputName:10s13sDval0.45
